/* CSS for Mood Tracker component */
.moods {
  margin: auto;
  margin-top: 20px;
}
.day {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
  width: 80px;
}

.date {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.normalDate {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.calendar-name {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
  width: 554px;
}

.calendar-name:after {
  clear: both;
  content: "";
  display: table;
}

.calendar-row {
  display: block
}

.calendar-row:after {
  clear: both;
  content: "";
  display: table;
}


.moodColor {
  height: 85px;
  width: 85px;
  float: left;
  border: none;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 25%;
  text-align: center;
  color: black;
  padding-top: 15%;
}

.moodTrackerKey {
  float: left;
  background: #fff;
  width: 170px;
  height: 550px;
}

.moodKeyLabel {
  text-align: center;
  margin: 8px 0 10px 0;
}

hr {
  margin: 0 8px;
}
