#breathe {
  margin-top: 3rem;
  height: 60%;
}

.progress {
  top: 50%;
  height: 50px;
  background-color: rgba(4, 46, 48, .04);
}

.progress-bar-custom {
  background-color: rgb(4, 46, 48);  
}
.progDiv {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #706e96;
  padding-top: 40%;
  background: url(img/breatheBackground.jpg) no-repeat center;
  margin: auto;
}

#dynamic {
  width: 0%;
}

#breathIn {
 font-weight: normal;
 text-align: center;
 color: #706e96;
 padding-top: 40%;
}
#breathOut {
  font-weight: normal;
  text-align: center;
  color: #706e96;
  padding-top: 40%;
}

#startStop {
  text-align: center;
}
  .btn {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.btn-secondary {
  margin: 30px;
  background-color: rgb(4, 46, 48);
}

.btn-secondary:hover {
  background-color: rgb(52, 101, 104);
}

