.form-signin {
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  color: white;
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.masthead {
  display: table;
  width: auto;
  padding: 200px;
  text-align: center;
  color: white;
  background-color: rgba(4, 46, 48, .7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  margin-top: 7rem;
  /* border-radius: 50%; */
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  color: white;
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

.signUp {
  background-color: #282643;
  box-shadow: inset 0 0 0 3px #706e96;
  color: #706e96;
  border: none;
}
.signUp:hover {
  background-color: #706e96;
  color: white;
  text-decoration: none;
}

.loginLogo {
  max-width: 500px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}