.card {
  margin-top: 20px;
  background-color: rgba(4, 46, 48, 0.808);
  color: white;
}

.card-title {
  color: white;
  text-align: center;
}

.oi-ellipses{
  color: white;
  float: right;
}

a:hover {
  color: white;
}

.externalResource {
  color: #706e96;
}

.rounded {
  width: 100%;
}