body {
  background-image: url("../img/newZen.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Lora', serif;
}

#root {
  font-family: 'Lora',
  serif;
}

#bootstrapOverride {
  font-family: 'Lora', serif !important;
}
